<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>

<!-- This is ready for flash messages -->
<%- messages() %>
<% if (errors) { %>
    <ul class="notice">
    <% errors.array().forEach(error => { %>
        <li><%= error.msg %></li>
    <%  }) %>
    </ul>
<% } %>

<div class="login-container">
    <p class="cursive">ALL FIELDS ARE REQUIRED</p>
    <div class="form">
        <form action="/account/register" method="post">
            <label for="account_firstname">First Name</label>
            <input type="text" name="account_firstname" id="fname" required value="<%= locals.account_firstname %>">
            <label for="account_lastname">Last Name</label>
            <input type="text" name="account_lastname" id="lname" required value="<%= locals.account_lastname %>">
            <label for="account_email">Email Address</label>
            <input type="email" name="account_email" id="email" required value="<%= locals.account_email %>">
            <label for="account_password">Password</label>
            <input type="password" name="account_password" id="password" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
            <p class="cursive"> Passwords must be minimun of 12 characters and 
                include 1 capital letter, 1 number and 1 special character.
            </p>
            <span id="pswBtn" class="showPass">Show Password</span>
            <button>Register</button>
        </form>
        
    </div>
    <div class="signup">
        <span>Already registered?<a href="/account/login">Log in</a></span>
    </div>

</div>

<script src="/js/script.js"></script>